<form #testForm="ngForm">
<header>
      <h1>Invoice</h1>
      <address  class="recipient" contenteditable="true"
              name="InvoiceAddress"
              [(ngModel)]="InvoiceAddress" required>
				
	  </address>
</header>
 <article >
      	<div >
			<h1>Bill To</h1>
			<address class="recipient" contenteditable="true"
              name="RecipientAddress"
              [(ngModel)]="RecipientAddress" required>
				
			</address>
		</div>
      <table class="meta">
        <tr>
          <th><span>Invoice #</span></th>
          <td><span contenteditable="true"
           name="Invoice"
           [(ngModel)]="Invoice" required pattern="[0-9]"></span></td>
        </tr>
        <tr>
          <th><span contenteditable>Date</span></th>
          <td><span contenteditable="true"
              name="date"
              [(ngModel)]="date" required pattern="\d{1,2}/\d{1,2}/\d{4}"></span>
          </td>
        </tr>
        <tr>
          <th><span contenteditable>Due Date</span></th>
          <td><span contenteditable="true"
              name="Duedate"
              [(ngModel)]="Duedate" required pattern="\d{1,2}/\d{1,2}/\d{4}"></span></td>
        </tr>
         <tr>
          <th><span >Balance Due</span></th>
          <td><span >$</span><span contenteditable="false"
              name="balanceDue"
              [(ngModel)]="balanceDue"></span></td>
        </tr>
      </table>

      <table class="inventory">
        <thead>
          <tr>
            <th><span contenteditable>Item</span></th>
            <th><span contenteditable>Rate</span></th>
            <th><span contenteditable>Quantity</span></th>
            <th><span contenteditable>Price</span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let datavalue of item;let id = index;">
          	<td><span contenteditable="true"
              name="dateItem"
              (input)="InvoiceCulc('Item', $event.target.innerHTML,id)">{{datavalue.Item}}</span></td>
              {{index}}
            <td><span data-prefix>$</span>
            	<span contenteditable="true"
              name="dateRate"
              (input)="InvoiceCulc('Rate', $event.target.innerHTML,id)">{{item[id].Rate}}</span></td>
            <td><span contenteditable="true"
              name="Quantity"
              (input)="InvoiceCulc('Quantity', $event.target.innerHTML,id)">{{datavalue.Quantity}}</span></td>
            <td><span data-prefix>$</span><span>{{datavalue.Rate*datavalue.Quantity}}</span><a class="cut" (click)="removeItem(id)">X</a></td>
          </tr>
        </tbody>
      </table>
      <a class="add" (click)="addItem()">List Item</a>
      <table class="balance">
        <tr>
          <th><span contenteditable>Sub Total</span></th>
          <td><span data-prefix>$</span><span 
          	  contenteditable="false"
              name="subTotal"
              [(ngModel)]="subTotal"></span></td>
        </tr>
         <tr>
          <th><span contenteditable>TAX</span></th>
          <td><span contenteditable="true"
              name="texRate"
              [(ngModel)]="texRate" (input)="InvoiceCulc($event.target.value)" pattern="[0-9]"></span><span data-prefix>%</span></td>
        </tr>
        <tr>
          <th><span contenteditable>Total</span></th>
          <td><span data-prefix>$</span><span
          	  contenteditable="false"
              name="totalAmount"
              [(ngModel)]="totalAmount"></span></td>
        </tr>
        <tr>
          <th><span contenteditable>Amount Paid</span></th>
          <td><span data-prefix>$</span><span contenteditable="true"
              name="amountPaid"
              [(ngModel)]="amountPaid" (input)="InvoiceCulc($event.target.value)" pattern="[0-9]"></span></td>
        </tr>
       
      </table>
    </article>
    <aside class="addNotes">
      <span class="headerline">Notes</span>
      <div contenteditable class="notesedit" contenteditable="true"
              name="Notes"
              [(ngModel)]="Notes" required>
        
      </div>
    </aside>
    <aside class="addNotes">
      <span class="headerline">Term</span>
      <div  class="notesedit" contenteditable="true"
              name="Term"
              [(ngModel)]="Term" required>
        


      </div>
    </aside>

    <a clasee="printpage" (click)='printInvoice(testForm)'>Print Invoice</a>
</form>

